doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-cerulean.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      nav(class='navbar navbar-inverse navbar-fixed-top')
        div(class='container')
          div(class='navbar-header')
            button(type='button' class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              span(class='sr-only') Toggle Navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
            a(class='navbar-brand' href='/') Google Charts Guide
          div(class='collapse navbar-collapse' id='navbar')
            ul(class='nav navbar-nav')
              li(class='#{selected === "home" ? "active" : ""}')
                a(href='/') Home
              li(class='#{selected === "barchart" ? "active" : ""}')
                a(href='/barchart') Bar Chart
              li(class='#{selected === "donutchart" ? "active" : ""}')
                a(href='/donutchart') Donut Chart
              li(class='#{selected === "piechart" ? "active" : ""}')
                a(href='/piechart') Pier Chart
              li(class='#{selected === "linechart" ? "active" : ""}')
                a(href='/linechart') Line Chart
              li(class='#{selected === "geochart" ? "active" : ""}')
                a(href='/geochart') Geo Chart
              li(class='#{selected === "gaugechart" ? "active" : ""}')
                a(href='/gaugechart') Gauge Chart


      div(class='container' id='content')
        block content

    block scripts
        script(src='https://www.google.com/jsapi')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')